<h1 class="title">Add a guestbook entry!</h1>

<form action="/add-entry" method="POST">
    <div>
        <input id="NameField" placeholder="Your name here" class="input" type="text" name="name">
        <input  placeholder="Your entry here!" class="input" type="text" name="entry">
    </div>

    <input id="inputButton" class="button is-link" type="submit" value="Send">
</form>