<h1 class="title">Post a blogpost!</h1>

<form action="/add-post" method="POST">
        <div class="field">
            <textarea  class="textarea" id="message" placeholder="type post here" rows="6" cols="90" name="PostMessage"></textarea>
        </div>

        <input id="inputButton" class="button is-link" type="submit" value="POST">
</form>