<title>Contact</title>
<h1 class="title">Contact</h1>

<p class="content">
    This is a page to contact me!
    <br>
    There is alot of ways to contact me, here are some:
    <ul>
        <li><a href="https://steamcommunity.com/id/LocStevens" target="_blank">Steam</a></li>
        <li><a href="https://twitter.com/StevenPlss" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/mans.svensson.56" target="_blank">Facebook</a></li>
    </ul>

    
    
     </p>