    <title>test</title>
    <h1 Class="title">Home</h1>
    <p Class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec dui nunc mattis enim ut. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Massa vitae tortor condimentum lacinia quis vel eros donec. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Sit amet mattis vulputate enim nulla. Dolor sit amet consectetur adipiscing elit ut aliquam purus. Ut aliquam purus sit amet luctus venenatis. Congue nisi vitae suscipit tellus mauris a diam. Sem et tortor consequat id. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Felis imperdiet proin fermentum leo vel orci. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Diam quis enim lobortis scelerisque fermentum dui faucibus. Semper quis lectus nulla at volutpat diam ut venenatis. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies. Duis ut diam quam nulla porttitor massa id neque aliquam.</p>


    <h class="subtitle">Latest blogpost!</h>
    <div id="spacer-small"></div>
    <div class="box BlogPostBox">
                <p><strong>Måns Svensson</strong>
                    <small>@Creator</small>
                </p>
                <div>{{blog.post}}</div>
    </div>