<h1 class="title">Admin Login</h1>
    <form action="/login" method="POST">
        <div>
        Username: <input id="loginField"class="input" type="text" name="username">
        </div>
        <div>
        Password:<input id="loginField"class="input" type="password" name="password">
        </div>
        <input id="inputButton" class="button is-link" type="submit" value="Login">  
        <input type="hidden" value="{{token}}" name="token"> 
    </form>